body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #0a6bac 74%);
  height: 100%;
  overflow: auto;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, #f0f);
  clip-path: circle(20% at right 70%);
}
div {
  margin: 10px;
}
p {
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  width: 50%;
}

img {
  padding-top: 20px;
}
